<html>
    <head>
    <title>THS</title>
<link rel="stylesheet" href="/public/vendor/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="/public/stylesheets/style.css" type="text/css" >
<link rel="stylesheet" href="/public/stylesheets/style1.css" type="text/css" >

<script src="/public/vendor/jquery-3_3_1_min_js.js" ></script>



<button class="btn btn-primary "><a href="/users/signup">Signup</a></button>
<button class="btn btn-primary "><a href="/company/home">Company</a></button>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/">THS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
               <li class="nav-item">
          <a class="nav-link" href="/challenges">CHALLENGES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/company/">COMPANIES</a>
          </li>
          </ul>
     <button class="btn btn-primary"><a href="/signup">Signup</a></button>
      <button class="btn btn-primary"><a href="/login">Login</a></button>
      <button class ="btn btn-primary"><a href ="/users/logout/">logout</a></button>



      </form>
    </div>
  </nav>
  <body id="background">
    


