<html>
    <head>
    <title>Express static server</title>
<link rel="stylesheet" href="/public/vendor/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/public/stylesheets/style.css" type="text/css" >
<link rel="stylesheet" href="/public/stylesheets/style1.css" type="text/css" >
<script src="/public/vendor/jquery-3_3_1_min_js.js" ></script>
    </head>
<body>



<button class="btn btn-primary "><a href="/users/signup">Signup</a></button>
<button class="btn btn-primary "><a href="/company/home">Company</a></button>

