<html>
    <head>
    <title>Express static server</title>
<link rel="stylesheet" href="/public/vendor/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/style.css" type="text/css" >

    </head>
<body>


<h1>Header </h1>
