<html>
    <head>
    <title>THS</title>
<link rel="stylesheet" href="/public/vendor/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/public/stylesheets/style1.css" type="text/css" >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/public/vendor/jquery-3_3_1_min_js.js" ></script>



<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/">THS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
               <li class="nav-item">
          <a class="nav-link" href="/challenges/home">CHALLENGES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/company/home">COMPANIES</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

<button class="btn btn-primary"><a href="/users/signup">Signup</a></button>
<button class="btn btn-primary"><a href="/users/login">Login</a></button>


      </form>
    </div>
  </nav>
  <body id="background">



