<% include ./partials/header.ejs %>

<form class="text-center border border-light p-5" id="addR" ,method="POST">

    <p class="h4 mb-4">Add Challenge Data</p>
    
    <div class="form-row mb-4">
        <div class="col">
            <input type="text" name="companyName" id="companyName" class="form-control" placeholder="Company Name" value="facebook">
        </div>
        <div class="col">
            <input type="text" name="position" id="position" class="form-control" placeholder="Position" value="dev">
        </div>
    </div>
    <div class="form-row mb-4">
        <div class="col">

            <input type="text" name="contestType" id="contestType" class="form-control" placeholder="Contest Type" value="hiring">
        </div>
        <div class="col">

            <input type="text" name="jobAddress" id="jobAddress" class="form-control" placeholder="Location" value="hyderabad">
        </div>
    </div>

    <input type="text" name="companyImage" id="companyImage" value="https://www.google.co.in/images/branding/googlelogo/2x/googlelogo_color_120x44dp.png" class="form-control mb-4" placeholder="Company Image URL" value="https://www.google.co.in/images/branding/googlelogo/2x/googlelogo_color_120x44dp.png">


    <input type="text" name="competitionImage" id="competitionImage" class="form-control mb-4" placeholder="Competition Image URL" value="https://www.google.co.in/images/branding/googlelogo/2x/googlelogo_color_120x44dp.png">

    <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>

</form>



<script>

     $("#addR").submit(function(e) {
      e.preventDefault();
      $.post({
        url: "/api/challenges/", 
        type: "POST",
        data: {
          companyName: $("#companyName").val(),
          positon: $("#position").val(),
          contestType: $("#contestType").val(),
          jobAddress : $('#jobAddress').val(),
          companyImage : $('#companyImage').val(),
          competitionImage : $('#competitionImage').val()
        },
       
        
      });
      window.location = '/challenges';
    
    });


</script>




<% include ./partials/footer.ejs %>