<form id=addR action="/api/company2/" method="POST">
    <input type="text" name="jobName" placeholder="Job name">
    <input type="text" name="jobWebsite" placeholder="jobWebsite">
    <input type="text" name="jobLocation" placeholder="jobLocation">
    <button type="submit">submit</button>
    
    </form>