<form id=addR action="/api/challenges/" method="POST">
    <input type="text" name="companyName" placeholder="company name">
    <input type="text" name="position" placeholder="position">
    <input type="text" name="contestType" placeholder="contestType">
    <button type="submit">submit</button>
    
    </form>