
<form action="/api/challenges" method="POST">
    <input type="text" name="companyName" placeholder="companyName">  
    <input type="text" name="position" placeholder="position" >
    <input type="text" name="location" placeholder="location">
    <input type="text" name="status" placeholder="enter status">
    <input type="text" name="skills" placeholder="enter skills">
    <input type="text" name="jobAdress" placeholder="enter Address">
    <input type="text" name="contestType" placeholder="enter Contesttype">
    <button type="submit">Add Challenge</button>
    
    </form>
    