<% include ./partials/header.ejs %> 

<div class="col-md-8 content">
   
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.40.2/codemirror.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.40.2/mode/javascript/javascript.min.js"> </script>


    <button type="submit">Saif</button>

    <% include ./partials/footer.ejs %>
    
