
<% include ./partials/header.ejs %>




<form id="addr2"  method="POST">
    <label>update Form</label><br>
      <label>companyName</label><input type="text" name="companyName" id ="id1">
      <label>position</label><input type="text" name="position" id ="id2" >
      <label>contestType</label><input type="text" name="contestType" id ="id3" >
      
      <button type="submit" >submit</button>
      </form>
    

<div class="content"></div>


<script>
    $('#addr2').hide();
    
  
  </script>

<script src="/public/javascripts/challenges.js"></script>



<% include ./partials/footer.ejs %>
