
<% include ./partials/header.ejs %>
<p>this is challenge page</p>

<div class="content"></div>



<script defer src="/public/javascripts/challenges.js"></script>



<% include ./partials/footer.ejs %>
