<% include ./partials/header.ejs %> 
<h5>Submitted SuceesFully click Home TO Go back To Next Challenge</h5> 
<button class="btn btn-primary" ><a href="/challenges/">Home</a></button>


<% include ./partials/footer.ejs %>
.