
<% include ./partials/header.ejs %>



<br>
<h4>The Hacking School Hiring Platform</h4>
<h5>Check out the  challenges </h3>
    <br>
<a href="/challenges"><button class="btn btn-outline-dark">Take Challenge Now!</button></a>





<% include ./partials/footer.ejs %>
