
<% include ./partials/header.ejs %>



<br>
<h4>The Hacking School Hiring Platform</h4>
<h5>Check out the  challenges </h3>
    <br>
<button class="btn btn-primary"><a href="/challenges">Take Challenge Now!</a></button>





<% include ./partials/footer.ejs %>
