body{
  /* background: rgb(182, 194, 80); */
  /* background: slategray; */
}
.content{
  margin-top: 5px;
}
.card-img-top{
  height: 200px;
}

.btn {
  margin-left: 10px;
}

li{
  text-decoration: none;
}
.name{
  font-size: 50px;
}

.taskBtn {
 padding-left: 50px;
 padding-right: 50px;
  font-size: 35px;
  position: absolute;
  right: 50px;
  top: 500px;
  
}
.dateAndTime{
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.location{
  margin-top: 10px;
}
.dateAndTime{
  margin-right: 100px;
}
.all{
  margin-left: 20px;
  margin-right: 20px;
}

/* .container .text-muted {
  margin: 20px 0;
} */

.navbar{
  background: rgb(38, 56, 38);
}

.cards { 

  color: black;
  border: solid 1px black;
  border-radius: 10px;
  float: left;
  margin-left: 50px;
  margin-top: 60px;
  
}
.card-img-top{
  border-radius: 10px;
 
}
.addR { 
  position: absolute;
  left: 120px;
  top: 70px;
}