
.content{
  margin-top: 5px;
};
a {
  color: rgb(74, 193, 240);
}
.card-img-top{
  height: 200px;
}

.btn {
  margin-left: 10px;
}

li{
  text-decoration: none;
}




.name{
  font-size: 50px;
}

.taskBtn {

  margin-left: 900px;
  margin-top: 20px;
  margin-right: 60px;
  font-size: 30px;
  padding-right: 20px;
  padding-left: 20px;

}
.dateAndTime{
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.location{
  margin-top: 10px;
}
.dateAndTime{
  margin-right: 100px;
}
.all{
  margin-left: 20px;
  margin-right: 20px;
}

/* .container .text-muted {
  margin: 20px 0;
} */